@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');

.App {
	font-family: 'Mulish', sans-serif;
}

/********* FONTS ***********/

h5 {
	color: #212529;
}

span {
	color: #b2b2b2;
	font-size: 12px;
}

i {
	font-size: 18px;
	color: #e7ab3d;
}

.icon-text {
	font-size: 18px;
}

/********* ELEMENTS ***********/

hr {
	color: #e7ab3d;
	width: 75px;
	border: 1.5px solid #e7ab3d;
	opacity: 100;
}

.no-underline {
	text-decoration: none;
	color: #000;
}


.zoom {
	transform: scale3d(1, 1, 1);
	transition: transform 1s ease-in-out;
}

.accessories:hover .zoom,
.magic-div:hover .zoom,
.zoom:hover {
	cursor: pointer;
	transform: scale3d(1.05, 1.05, 1);
	transition: transform 1s ease-in-out;
}

.price {
	color: #e7ab3d;
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 0;
}

.text-overlay {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}

/********* BUTTONS ***********/

.btn-orange,
.btn-buy {
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 20px;
	border: none;
	transform: scale3d(1, 1, 1);
	transition: transform 1s ease-in-out;
	transition: background-color 1s, color 0.5s ease-in-out;

}

.btn-orange {
	background-color: #e7ab3d;
	color: #fff;
}

.btn-buy {
	background-color: #f4f1e9;
	color: #212529;
}

.fa-credit-card {
	color: #212529;
	margin: 10px;
	transition: color 0.5s ease-in-out;
}

.btn-orange:hover(:not(.btn-categories)) {
	background-color: #c89230;
	transition: background-color 1s ease-in-out;

}

.btn-buy:hover {
	background-color: #e7ab3d;
	color: #fff;
	transition: background-color 1s, color 0.5s ease-in-out;
}
.btn-buy:hover .fa-credit-card{
	color: #fff;
	transition: color 0.5s ease-in-out;
}
.btn-cart {
	background-image: url('https://aigostar-img.s3.amazonaws.com/icon-basket-black.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
}

.icon-button img {
	width: 30px;
	height: 30px;
	margin-left: 10px;
}

.moving img {
	transition: transform 0.7s, color 0.3s;
}

.moving {
	transition: transform 0.7s, color 0.3s;
	width: 250px;
}

.moving:hover img {
	transform: translateX(-170px);
	/* Mueve el ícono hacia la izquierda */
}

.moving:hover {
	color: transparent;
}

.product-card {
	height: 50px;
	width: 50px;
}

.table-btn {
	height: 40px;
	width: 40px;
	border-radius: 10px 0px;
	background-color: #f4f1e9;
	border: 7px solid #f4f1e9;
}

.table-btn:hover {
	background-color: #e7ab3d;
	border: 7px solid #e7ab3d;
}

/*** MAGIC DIV ***/
.magic-div {
	position: relative;
	text-align: center;
}

.magic-div:hover {
	cursor: pointer;
}

.magic-div:hover .text-overlay {
	top: 50%;
	transition: top 1s ease-in-out;
}

/*** PRODUCT SMALL CARD ***/

/* INFO BUTTON */

.text-overlay.up-opaccity-effect {
	top: 110%;
	opacity: 0;
	transition: top 0.5s ease-in-out, opacity 0.7s ease-in-out;
}

.magic-div:hover .up-opaccity-effect {
	opacity: 1;
	top: 90%;
	transition: top 0.5s ease-in-out, opacity 0.7s ease-in-out;
}

/* CART BUTTON */

.magic-div:hover .btn-cart.right-to-left {
	opacity: 1;
	transition: right 0.5s ease-in-out, opacity 0.7s ease-in-out;
}

.magic-div:hover .right-to-left .margin {
	right: 15%;
}

.magic-div:hover .right-to-left {
	right: 0%;
}

.right-to-left {
	color: #212529;
	background-color: #f4f1e9;
	border: 7px solid #f4f1e9;
	border-radius: 10px 0px;
	position: absolute;
	top: 5%;
	right: -40px;
	opacity: 0;
	transition: right 0.5s ease-in-out, opacity 0.7s ease-in-out;
}

.right-to-left:hover {
	background-color: #e7ab3d;
	border-color: #e7ab3d;
}

/********* HOME SECTIONS ***********/

#banner,
#footer {
	background-color: #f4f1e9;
}

/*** CATEGORIES section ***/

.btn-categories {
	font-size: 16px;
	margin: 0;
}

.magic-div:hover .btn-categories {
	transform: scale3d(1.1, 1.1, 1);
	transition: transform 1s ease-in-out;
}

.text-overlay.up-effect {
	top: 90%;
	transition: top 1s ease-in-out;
}

/*** SHIPING section ***/

.shipping {
	border: 2px solid #f3f4f0;
}

.shipping:not(:last-child) {
	border-right: 1px solid #f3f4f0;
}

.shipping i {
	font-size: 36px;
	margin-right: 20px;
}

/********* PRODUCT DETAIL SECTIONS ***********/
.second-navbar{
	text-decoration: none;
	color: #808080;
	font-size: 11px;
}
.fa-brands{
	color: #212529;
}
.quantity{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border: 1px solid #f4f1e9 ;
}
.quantity p{
	margin: 0;
}
.quantity-text{
	cursor: pointer;
	font-size: 20px;
}
.especifications{
	display: flex;
	justify-content: space-evenly;
}
.especifications h5{
	cursor: pointer;
}
.especifications .active{
	text-decoration: underline;
	text-underline-offset: 19px;
	text-decoration-color: #c89230;
}
